@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* add */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

/* default */
body {
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  overflow: hidden !important;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: beige;
}


ul, 
li {
  list-style-type: none;
}


.hidden {
  display: none;
}

img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* css layout */
section {
  
  width: 100vw;
  height: 100vh;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

section > span {
  color: #fff;
}

/* a { text-decoration: none; color: #ff0; font-weight: bold; font-size: 18px; } */

#clock {
  color: #fff;
  text-align: center;
  margin: 30vh auto 0;
  font-weight: 500;
}
#greeting {
  color: #fff;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
}
div#weather {
  position: absolute;
  top: 5vh;
  right: 5vw;
  color: #fff;
  font-size: 1.6rem;
}

form#login-form {
  text-align: center;
  margin: 0 auto;
}

input[type="text"] {
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.375rem solid #fff;
  color: rgb(212, 212, 212);
}
input[type="text"]::placeholder {
  color: rgb(212, 212, 212);
}

input[type="text"]:focus {
  color: #fff;
  outline: none;
}

#login-form > input[type="submit"] {
  appearance: none;
  border: none;
  border-radius: 0.5rem;
  background: rgba(126, 117, 0, 0.5);
  color: #fff;
  padding: 0.9375rem;
  line-height: 3rem;
  cursor: pointer;
}

form#todoform {
  text-align: center;
  margin: 0 auto;
}

#todoform > input[type="text"] {
  border-bottom: .375rem solid #fff;
  outline: none;
  appearance: none;
  background: transparent;
  font-size: 2rem;
}

ul#todoList {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1.6rem;
}

#todoList > li {
  display: inline-flex;
  align-items: center;
}

#todoList > li::before {
  content:"🗸"; 
  display: flex;
  align-self: center;
}
#todoList > li > span {
  width: 100%;
  height: 100%;
  word-break: break-all;
}
#todoList > li > button {
  display: flex;
  justify-items: center;
  align-self: center;
  align-content: center;
  padding: 0;
  border: none;
  outline: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  font-size: 2rem; 
}

small {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 1.2rem;
}

#quotes {
  position: fixed;
  width: 100%;
  height: auto;
  color: #fff;
  text-align: center;
  transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

#quotes .author {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}


/* renewal responsive */

@media screen and (min-width: 1025px) {
  #clock {
    font-size: 10rem;
  }
  #greeting {
    font-size: 5rem;
  }

  form#login-form {
    width: 70vw;
  }

  #login-form > input[type="submit"] {
    font-size: 2rem;
  }

  input[type="text"] {
    width: 40rem;
    font-size: 3.5rem;
  }

  ul#todoList {
    width: 40rem;
  }
  #todoList > li {
    width: 100%;
  }
  #todoList > li::before {
    margin-left: -30px;
    margin-right: 10px;
  }
  #quotes {
    bottom: 10px;
    transform: translateY(20px);
  }

}
@media screen and (max-width: 1024px) {
  #clock {
    font-size: 8rem;
  }
  #greeting {
    font-size: 5rem;
  }
  form#login-form {
    width: 100vw;
  }
  #login-form > input[type="submit"] {
    font-size: 2rem;
  }
  input[type="text"] {
    width: 40rem;
    font-size: 3.5rem;
  }
  ul#todoList {
    width: 36.5rem;
  }
  #todoList > li {
    width: 100%;
  }
  #todoList > li::before {
    margin-left: -30px;
    margin-right: 10px;
  }

  #quotes {
    bottom: 3vh;
    transform: translateY(2vh);
  }

  @media screen and (max-width: 767px) {
    form#login-form {
      width: 100vw;
    }
    #clock {
      font-size: 6rem;
    }
    #greeting {
      font-size: 4rem;
    }

    input[type="text"] {
      width: 70vw;
      font-size: 3rem;
    }

    ul#todoList {
      width: 70vw;
    }
    #todoform > input[type="text"] {
      font-size: 2rem;
    }
  }
}


@media (hover: hover) and (any-hover: hover) {
  #quotes:hover {
    transform: translateY(0);
  }
  #quotes:hover .author {
    opacity: 1;
  }
}